* {
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
}
.rect {
    width: 100px;
    height: 100px;
    border-radius: 5%;
    position: absolute;
    transition: all 3s;
    background-color: red;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: green;
    border-radius: 100%;
    position: absolute;
    transition: all 3s;
}